/**/.idea/
/**/.DS_Store
# localstack and seed files for cognito-local
local/localstack-volume
local/cognito-local-volume/db/clients.json
local/cognito-local-volume/db/local_userPool.json
# Generate protobuf files
protocols/gen/
