name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    environment: staging
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_STAGING }}
          aws-region: eu-central-1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: |
            frontend/package-lock.json
            infrastructure/package-lock.json

      - name: Install Rust
        run: rustup toolchain install stable

      - name: Setup Cross-Compilation
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu
          rustup target add aarch64-unknown-linux-gnu

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./backend
          cache-on-failure: true

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Install dependencies (Infrastructure)
        working-directory: infrastructure
        run: npm ci

      - name: Install dependencies (Frontend)
        working-directory: frontend
        run: npm ci

      - name: CDK Bootstrap
        working-directory: infrastructure
        run: npx cdk bootstrap

      - name: CDK Deploy
        working-directory: infrastructure
        run: |
          npx cdk deploy --all --require-approval never \
            -c mode=stage \
            -c domain=levity-test.wulf.technology \
            -c hostedZoneId=${{ secrets.HOSTED_ZONE_ID_STAGING }}
